*{
    font-family: 'Inter';
}
.stream-list{
    $darkblue: #1C274C;
    $lightblue: #6482A3;
    font-size: 16px;
    padding: 1rem 2rem 5rem 2rem;
    flex: 1;
    .stream-list__title{
         display: flex;
        justify-content: space-between;
        .stream-list__filter{
            display: flex;
            align-items: center;
            gap: 5px;
            select{
                font-size: 16px;
            }
            @media(max-width:400px){
                p{
                    flex-grow: 1;
                }
            }
            @media(max-width: 310px){
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
        }
        @media(max-width: 600px){
            flex-direction: column;
            gap: 10px;
        }
    }
    .streams{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 40px;
        padding-top: 20px;
        .stream{
            box-shadow: 14px 15px 17px 0px rgba(19, 26, 52, 0.2);
            display: flex;
            flex-direction: column;
            position: relative;
            .stream__header{
                padding-bottom: 1rem;
                display: flex;
                align-items: start;
                justify-content: space-between;
                .stream__title{
                    font-size: 1.4rem;
                    font-weight: 600;
                }
                .stream__route{
                    color: $darkblue;
                }
                img.stream__delete{
                    width: 55px;
                    cursor: pointer;
                    background-color: white;
                    padding: 15px;
                }
            }
            .stream__info{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                .stream__price{
                    padding: 10px 0 20px 0;
                    margin-top: auto;
                    font-size: 1.2rem;
                    color: $darkblue;
                    font-weight: 700;
                }
            }
        }
        @media(max-width:650px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .delete-confirm__modal{
        position: fixed;
        background-color: rgba(167, 167, 167, 0.7);
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal__inner{
            background-color: white;
            padding: 30px;
            width: 500px;
            .modal__title{
                display: flex;
                justify-content: space-between;
                padding-bottom: 1.2rem;
                img{
                    width: 25px;
                    cursor: pointer;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
            .modal__buttons{
                margin-top: 10px;
                display: flex;
                width: 100%;
                justify-content: space-around;
                button{
                    padding: 10px 20px;
                    border: none;
                    color: white;
                    text-align: left;
                    background-color: #1C274C;
                    font-size: 1.2rem;
                }
            }
        }
    }
}