*{
    font-family: 'Inter';
}
.lk{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    padding: 2rem;
    button.lk__button, a{
        height: fit-content;
        padding: 10px 15px;
        align-self: flex-end;
        background-color: rgb(240, 240, 240);
        border: 1px solid gray;
        border-radius: 3px;
        font-size: 13.3px;
    }
}
